.App {
  text-align: center;
  /* background-color:whitesmoke; */
}

.counters-container {
  display: flex;
  gap: 10px;
}

.movie-container {
  width: 330px;
}

.movie-poster {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name {
  font-size: 20px;
  margin: 0;
}

.movie-summary {
  margin-top: 0;
  margin-left: 10px;
  text-align: auto;
}

.movie-rating {
  font-size: 15px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.movie-detail-container {
  max-width: 900px;
}

.route-container {
  padding: 20px;
}

.game-box {
  height:160px;
  background:transparent;
  color:black;
  font-size: 120px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(88, 54, 9);
  cursor: pointer;
}

.game-box:hover {
  background: rgb(151, 200, 176);

}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 660px;
}
.movie-button {
  border-radius: 10px;
  width:130px;
  height: 40px;
  border: 1px solid rgb(60, 255, 0);
  margin: 20px;
}